html
{
    height:100%;
}

body
{
    height:100%;
    margin:0;
    padding:0;
    color:#888;
    font-family:Sans-serif;
    font-size:100%;
}

#tags
{
    position:absolute;
    top:2em;
    left:10%;
    right:70%;
}

.tag
{
    cursor:pointer;
}

#notes
{
    position:absolute;
    top:2em;
    left:30%;
    right:10%;
}

.note
{
    position:relative;
    margin-bottom:.5em;
    padding:10px;
    border-width:thin;
    border-style:solid;
    border-color:#CCC;
}

#notes textarea
{
    width:100%;
    border:0;
    outline:none;
    resize:none;
}

.delete
{
    display:none;
    position:absolute;
    top:0.01em;
    right:0.3em;
    cursor:pointer;
}

.save
{
    display:none;
}