html
{
    height:100%;
}

body
{
    height:100%;
    margin:0;
    padding:0;
    color:#888;
    font-family:Sans-serif;
    font-size:100%;
}

.button
{
    height:30px;
    border-width:1px 1px 1px 1px;
    border-style:solid;
    border-color:#CCC;
    font-weight:bold;
    text-align:center;
    line-height:30px;
}

#header
{
    height:34px;
}

#home
{
    position:absolute;
    width:100px;
    top:2px;
    left:2px;
    border-color:#FFF;
}

#save
{
    position: absolute;
    width:65px;
    right:4px;
}

#tagsPanel
{
    position:absolute;
    top:50px;
    bottom:0px;
    width:25%;
}

#titlesPanel
{
    position:absolute;
    left:25%;
    top:50px;
    bottom:0px;
    width:25%;
}

#notePanel
{
    position:absolute;
    left:50%;
    top:50px;
    bottom:0px;
    width:50%;
}

#noteTextArea
{
    position:absolute;
    height:100%;
    width:100%;
    border-width:thin;
    border-color:#CCC;
}

.textwrap
{
    position:absolute;
    left:0px;
    top:34px;
    right:10px;
    bottom:30px;
}

b
{
    position:absolute;
    left:10px;
}