<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Grivet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
</head>
<body>
<div id="header">
    <div id="home" class="button" onclick="location.href='/'">Grivet</div>
</div>
<div id="tagsPanel">
    <b>Tags</b><br>
    {{.HtmlTags}}
</div>
<div id="titlesPanel">
    <b>Titles</b><br>
    {{.HtmlTitles}}
</div>
<div id="notePanel">
    {{.HtmlNote}}
</div>
</body>
</html>