<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
        "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title>Grivet</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="user-scalable=no, width=device-width" />
    <link type="text/css" rel="stylesheet" href="/static/style.css"/>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.8/jquery.min.js"></script>
    <script type="text/javascript" src="/static/jquery.autosize-min.js"></script>
    <script type="text/javascript" src="/static/script.js"></script>
</head>
<body>
<noscript>Grivet cannot function without Javascript. Please enable Javascript in your browser, and then reload this page.</noscript>
<div id="tags">
    {{.HtmlTags}}
</div>
<div id="notes">
    <div id="new" class="note">
        <textarea class="resize"></textarea>
    </div>
    {{.HtmlNotes}}
</div>
</body>
</html>