body
{
    font-size:100%;
    margin:0;
    padding:0;
}

#navBar
{
    font-weight:bold;
    left:0px;
    position:absolute;
    top:0px;
    width:100%;
}

#settings
{
    float:right;
}

#tagsPanel
{
    left:0px;
    position:absolute;
    top:5%;
    width:25%;
}

.relatedTag
{
    font-weight:bold;
}

#titlesPanel
{
    left:25%;
    position:absolute;
    top:5%;
    width:25%;
}

#notePanel
{
    left:50%;
    position:absolute;
    top:5%;
    width:50%;
}

#deleteNote
{
    float:right;
    display:none;
}

#noteTitle
{
    font-weight:bold;
}

#noteTextArea
{
    height:100%;
    width:100%;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}